@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Roboto:wght@100;300;400;500&display=swap");

/* :root {
    --colorWhite: #ffffff;
    --colorBlack: #000000;
    --colorRed: red;
    --fontSize-sm: 16px;
    --fontFamily: 'Arial, Helvetica, sans-serif';
    --fontTitle: 'Arial';
    --fontBody: 'Helvetica';
} */

* {
    font-family: "Roboto", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    min-height: 100vh;
    background: #f2f4fc;
}

/* ------------------------------ Navbar ------------------------------ */

nav {
    background-color: #203267;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    color: white;
    margin-bottom: 30px;
}

.navImg {
    width: 70%;
}

.hambRouters {
    list-style: none;
    padding-inline-start: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

}

.hambRouters li a {
    text-decoration: none !important;
    list-style: none !important;
    color: white;
}

.hambRouters li a:hover {
    font-weight: 600;
}

.hambRouters li button {
    background: #f68520;
    border-width: 0;
    padding: 10px;
    color: white;
    border-radius: .25rem;
}

.navbar-toggle {
    display: none;
    height: min-content;
    margin: 10px -10px 0 0;
    cursor: pointer;
}

.navbar-toggle .bar {
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background: #b4b3b3;
    border-radius: 10%;
    transition: .4s;
}


/* SignIn Component */
.signInContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.signInContainer img {
    width: 224px;
    padding-left: 20px;
}

.signInContainer h1 {
    text-align: center;
    font-size: 25px;
}

.signInContainer h3 {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}

.signInContainer input {
    background-color: #eaf0fe;
    border-width: 0;
    border-radius: .25rem;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 300px;
    padding-left: 10px;
    text-align: start;
    color: black;
    margin-bottom: 20px;
}

.signInButton {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signInButton button {
    background: #273269;
    color: white;
    border-radius: .25rem;
    padding-top: 10px;
    padding-bottom: 10px;
}

.emailSignIn {
    padding-bottom: 10px;
}

.passwordSignIn {
    padding-bottom: 10px;
}

.signInForm button {
    padding: 5px 60px;
    margin-bottom: 10px;
}

/* h1 {
    color: var(--colorRed);
} */

/* SignUp Component */
.signUpContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: relative;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.signUpContainer img {
    width: 224px;
    padding-left: 20px;
}

.signUpContainer .header h1 {
    text-align: center;
    font-size: 25px;
}

.signInContainer .header h3 {
    text-align: center;
    font-size: 20px;
    font-weight: 200;
}

.signUpForm {
    display: flex;
    flex-direction: column;
}

.signUpform-input {
    width: 360px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 20px;
}

.signUpform-input input {
    background-color: #eaf0fe;
    border-width: 0;
    border-radius: .25rem;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    text-align: start;
    margin-bottom: 15px;
}

.signUpButton {
    background: #273269;
    color: white;
    border-radius: .25rem;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 50%;
    align-self: center;
}

/* Home view */

.contentHome {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contentHome img {
    position: absolute;
    z-index: -12;
}

.homeTaskTitle {
    text-align: start;
    max-width: 1340px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

.taskWrapper {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    align-items: center;
    max-width: 1350px;
    margin: auto;
    gap: 10px;
}

/* New Task */

.contentNewTask {
    border-width: 1px;
    border-color: #273269;
    background: white;
    padding: 50px;
    box-shadow: 0px 6px 8px 0px #88888898;
    border-radius: .75rem;
    border-color: rgb(170, 170, 170);
}

.contentNewTask input {
    width: 600px;
    font-size: 15px;
    margin-bottom: 20px;
    border-radius: .25rem;
    border-width: 1px;
}

.contentNewTask textarea {
    margin-bottom: 20px;
    border-radius: .25rem;
    width: 600px;
}

.contentNewTask label {
    padding-right: 15px;
    color: gray;
}

.input-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-button button {
    background: #2d376dcb;
    color: white;
    padding: 1rem 10rem;
    border-radius: .75rem;
    font-weight: 600;
    font-size: 20px;
    border-width: 0;
}

/* .contentNewTask button {
    display: flex;
    align-items: center;
} */

/* Task Container */
.taskContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    border-width: 1px;
    border-radius: .75rem;
    /* border: 5px solid rgba(0, 128, 0, 0.397); */
    padding: 1rem;
    max-width: 400px;
    margin-bottom: 5px;
    text-align: center;
    overflow: hidden;
    box-shadow: 0px 6px 8px 0px #888888d3;
    /* background: white; */
}

.taskContainer h4 {
    font-weight: 400;
    height: 40px;
    overflow: hidden;
    text-overflow: hidden;

}

.taskContainer .taskIcon {
    width: 400px;
    display: flex;
    justify-content: space-evenly;
    font-size: 2rem;
    color: rgba(46, 41, 41, 0.61);
}

.taskContainer .taskIcon:hover {
    width: 400px;
    display: flex;
    justify-content: space-evenly;
    font-size: 2rem;
    color: black;
}

.taskContainer .taskEditInputs {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 40px;
}

.taskEditInputs button {
    background: #2d376dcb;
    color: white;
    border-radius: .75rem;
    font-weight: 400;
    font-size: 15px;
    border-width: 0;
    padding: 1rem 1rem;
}

.taskEditInputs input,
textarea {
    border-radius: .25rem;
    border-width: 1px;
    overflow: hidden;
    text-overflow: hidden;
}

.taskContainer {
    margin-bottom: 40px;
}

/* Account View */
.accountContainer {
    margin-top: 20px;
    margin: auto;
    border: 2px solid rgba(0, 0, 0, 0.151);
    height: 740px;
    width: 600px;
    border-radius: 3rem;
    box-shadow: 0px 6px 8px 0px #88888898;
    padding: 0 10px 0 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    background: white;
}

.accountContainer button {
    width: 50%;
    max-width: 50%;
    align-self: center;
    padding: 8px;
    background: #e68522;
    color: white;
    font-weight: 500;
    border-width: 0;
    border-radius: .25rem;
}

.accauntContainerHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    margin: 0;
}

.accauntContainerHeader .labelContainer {
    background: #e68522;
    margin-top: 10px;
    width: 150px;
    height: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .25rem;
}

.accauntContainerHeader .imageButton {
    color: white;
}

.accauntContainerHeader img {
    height: 70%;
    width: 35%;
    max-height: 70%;
    border-radius: 50%;
    margin-top: 20px;
    object-fit: cover;
    border: 1px solid rgba(0, 0, 0, 0.603);
    box-shadow: 0px 6px 8px 0px #88888898;
}

.accauntContainerHeader h1 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.accauntContainerData {
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.accauntContainerData label {
    /* font-style: italic; */
    font-size: 13px;
}

.accauntContainerData input {
    width: 100%;
    border-radius: .25rem;
    background-color: #eaf0fe;
    border-width: 0;
    font-size: 16px;
    padding: 4px 0 4px 0;
    margin-bottom: 21.28px;
    color: #474E68;
}

.accauntContainerData h4 {
    margin-top: 5px;
    font-weight: 500;
    color: #474E68;
}

.accauntContainerDataLeft {
    width: 200px;
}

.accauntContainerDataRight {
    width: 200px;
}

/* Send Task */
.sendTaskFlex {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
}

.sendTaskContainer {
    box-shadow: 0px 6px 8px 0px #88888898;
    border-radius: .75rem;
    border-color: rgb(170, 170, 170);
    padding: 50px;
    max-width: 685px;
    width: 100%;
    background: white;
}

.sendTaskContainer label {
    padding-right: 15px;
    color: gray;
}

.sendTaskContainer input {
    width: 100%;
}




.sentTasksTableFlex {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
}

.sentTaskTableHeader {
    display: flex;
    align-items: center;
    width: 1000px;
    height: 20px;
    background: #5e6881;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: .25rem;
    margin-bottom: 6px;
    color: white;
    padding-left: 90px;
}

.sendTaskSetup {
    /* margin-left: 50px; */
    margin-bottom: 20px;
}

.sentTaskTableHeader i {
    padding-left: 15px;
}

.sentToH {
    width: 200px;
    white-space: nowrap;
    text-align: start;
    overflow: hidden;
    text-overflow: hidden;
    margin-left: 20px;
    text-align: center;
}

.dueH {
    width: 100px;
    white-space: nowrap;
    text-align: start;
    overflow: hidden;
    text-overflow: hidden;
    margin-left: 15px;
    text-align: center;
}

.titleH {
    width: 400px;
    white-space: nowrap;
    text-align: start;
    overflow: hidden;
    text-overflow: hidden;
    margin-left: 15px;
    text-align: center;
}

#sendToInput {
    width: 100%;
    font-size: 15px;
    margin-bottom: 20px;
    border-radius: .25rem;
    border-width: 1px;
}

#titleToInput {
    width: 100%;
    font-size: 15px;
    margin-bottom: 20px;
    border-radius: .25rem;
    border-width: 1px;
}

#dueToInput {
    max-width: 30%;
    background: white;
    border-width: 1px;
    text-align: center;
    margin-bottom: 20px;
    border-radius: .25rem;
    border-width: 1px;
}

#descriptionToInput {
    background: white;
    border-width: 1px;
    width: 100%;
    border-radius: .25rem;
    border-width: 1px;
}

.sentTaskTableElement {
    display: flex;
    align-items: center;
    width: 1000px;
    height: 20px;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: .25rem;
    margin-bottom: 0px;
    padding-left: 90px;
}

.sentTasksTableFlex hr {
    width: 1000px;
}

.sendTaskButton {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sendTaskButton button {
    background: #2d376dcb;
    color: white;
    padding: 1rem 10rem;
    border-radius: .75rem;
    font-weight: 600;
    font-size: 20px;
    border-width: 0;
}

.sentTaskTableElement i {
    margin-left: 15px;
}

.sentToLabel {
    width: 200px;
    white-space: nowrap;
    text-align: start;
    overflow: hidden;
    text-overflow: hidden;
    margin-left: 20px;
}

.dueDateLabel {
    width: 100px;
    white-space: nowrap;
    text-align: start;
    overflow: hidden;
    text-overflow: hidden;
    margin-left: 15px;
}

.titleLabel {
    width: 400px;
    white-space: nowrap;
    text-align: start;
    overflow: hidden;
    text-overflow: hidden;
    margin-left: 15px;
}

.completedLabel {
    text-align: center;
    width: 75px;
}

/* ----------------------- Task Details -----------------------*/
.fa-exclamation-triangle {
    font-size: 100px;
}


.taskCardDesc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 520px;
    margin: auto;
    background: white;
    border-radius: 1rem;
    padding: 5%;
    box-shadow: 0px 6px 8px 0px #88888898;
    margin-bottom: 50px;
}

.taskCardDesc h4 {
    font-size: .8rem;
}

.taskTitle {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.taskPart {
    width: 100%;
}

hr {
    width: 100%;
}

.taskDesc {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    /* width: 520px;
    max-width: 520px; */
}

.taskIdentifier {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    text-align: center;
    gap: 60px;
}

.taskChars {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    text-align: center;
    max-width: 520px;
    gap: 70px;
}

#cardImgDesc {
    height: 80px;
    width: 80px;
    max-height: 70%;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 6px 8px 0px #88888898;
    border: 1px solid rgba(0, 0, 0, 0.603);
}

.taskIconDesc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 30px;
    width: 60%;
}

.singleUser {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.singleUser h6 {
    margin-bottom: 0px;
}

.singleUser img {
    height: 140px;
    width: 140px;
    max-height: 70%;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 6px 8px 0px #88888898;
    border: 1px solid rgba(0, 0, 0, 0.603);
}

.textareaEdit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.editTaskTitle {
    font-size: 2rem;
    font-weight: bold;
}


/* ----------------------- Footer Bar -----------------------*/

.footerBar {
    height: 80px;
    background-color: #787878;
    /* position: absolute; */
    bottom: 0;
    width: 100%;
    color: white;
}

.footerFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerFlex p {
    margin-top: 30px;
}

/* --------------------------------------------------------------------------- */
/* ------------------------------ MEDIA QUERIES ------------------------------ */
/* --------------------------------------------------------------------------- */

@media (max-width: 766px) {

    /* ------------------------------ Navbar ------------------------------ */
    nav {
        justify-content: space-between;
    }

    .navImg {
        width: 50%;
        padding: 10px;
    }


    nav ul {
        display: none;
    }

    /* ------------------------------ Hamburguer menu ------------------------------ */
    .navbar-toggle {
        display: grid !important;
    }

    #navbar-toggle.active .bar:nth-child(2) {
        opacity: 0;
    }

    #navbar-toggle.active .bar:nth-child(1) {
        transform: translateY(15px) rotate(45deg);
    }

    #navbar-toggle.active .bar:nth-child(3) {
        transform: translateY(-15px) rotate(-45deg);
    }

    .hambRouters {
        position: fixed;
        left: 100%;
        top: 43px;
        flex-direction: column;
        background-color: #203267cc;
        width: 100%;
        text-align: center;
        transition: .3s;
    }

    .hambRouters li {
        margin: 16px 0;
    }

    nav ul.active {
        left: 0;
    }

    .hambRouters.active a {
        color: white;
        font-weight: 800;
        font-size: 30px;
    }

    .hambRouters.active a:hover {
        color: #292E47;
        font-weight: 800;
        font-size: 30px;
    }



    /* ------------------------------ Home ------------------------------ */
    .contentHome {
        max-width: 80%;
        align-items: center;
        margin: auto;
    }

    .contentNewTask input {
        width: 100%;
    }

    .contentNewTask {
        width: 100%;
    }

    .contentNewTask textarea {
        width: 100%;
    }

    .homeTaskTitle {
        text-align: center;
        max-width: 80%;
    }

    .taskWrapper {
        /* display: flex;
        flex-wrap: wrap; */
        /* justify-content: space-between; */
        align-items: center;
        max-width: 80%;
        /* margin: auto; */
        gap: 0px;
    }

    .input-button button {
        background: #2d376dcb;
        color: white;
        border-radius: .75rem;
        font-weight: 400;
        font-size: 100%;
        border-width: 0;
        width: 60%;
        padding: 1rem;
    }

    .cardHeader {
        flex-direction: column;
    }

    .taskContainer {
        width: 100%;
    }

    .taskContainer div {
        width: 100%;
    }

    .taskContainer .taskIcon {
        width: 100%;
        min-width: 300px;
    }

    .taskContainer .taskIcon:hover {
        width: 100%;
    }

    /* ------------------------------ SEND TASK CONTAINER ------------------------------ */

    .sendTaskContainer {
        width: 90%;
    }

    .sendTaskFlex {
        width: 90%;
        margin: auto;
        margin-bottom: 15px;
    }

    .sentTaskTableHeader {
        font-size: 14px;
        padding-left: 0px;
        width: 100%;
    }

    .sentTaskTableElement {
        width: 100%;
        font-size: 11px;
        padding-left: 0px;
    }

    .sentTaskTableElement i {
        padding-right: 5px;
    }

    .sentTasksTableFlex hr {
        width: 100%;
    }

    .dueDateLabel {
        width: 200px;
        text-align: center;
        margin-left: 10px;
    }

    .titleLabel {
        width: 250px;
        margin-left: 10px;
        text-align: center;
    }

    /* ------------------------------ TASK DETAILS ------------------------------ */

    .taskEditInputs textarea {
        width: 100%;
    }

    .taskCardDesc {
        width: 80%;
        margin: auto;
        margin-bottom: 190px;
    }

    /* ------------------------------ PROFILE ------------------------------ */
    .accountContainer {
        width: 90%;
    }

    .accauntContainerHeader {
        height: 300px;
    }

    .accauntContainerHeader img {
        height: 50%;
        width: 38%;
        max-height: 50%;
    }

    .accauntContainerHeader h1 {
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 25px;
    }

    .accauntContainerData {
        gap: 25px
    }

    .accauntContainerData label {
        /* font-style: italic; */
        font-size: 11px;
    }

    .accauntContainerData h4 {
        font-size: 13px;
    }
}